.container-content {
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
  }
  
  .has-text-centered {
    text-align: center;
  }
  