/* frontend/src/styles/PDF.css */
.pdf-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.pdf-section h2 {
  color: #333;
  margin-bottom: 20px;
}

.add-comment button {
  padding: 10px 20px;
  background-color: #387ADF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-comment button:hover {
  background-color: #50C4ED;
}

.add-comment button:active {
  background-color: #387ADF;
}
