.container-content {
  display: flex;
  justify-content: center;
  transition: margin-right 0.3s;
  margin-right: 0px; /* Ajusta el margen derecho para el contenido principal */
}

.container-content.collapsed {
  margin-right: 80px; /* Ajusta el margen derecho cuando la barra lateral está colapsada */
  transition: margin-right 0.3s;
}

.main-content {
  width: 100%;
  max-width: 800px;
}

.box {
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.task-box {
  border: 2px solid #ddd; /* Borde más marcado */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Sombreado adicional */
}

.field {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button.is-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
  color: #fff;
}

.download-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Añadir esta línea */
  flex-wrap: nowrap; /* Asegura que los elementos se mantengan en una sola línea */
}

.download-container span {
  margin-right: 10px;
  word-break: break-all; /* Asegura que el texto largo se ajuste al contenedor */
}

.button.is-link.is-small.ml-2 {
  margin-left: 0; /* Elimina el margen izquierdo */
  white-space: nowrap; /* Asegura que el texto del botón no se divida en varias líneas */
}

.pagination {
  margin-top: 20px;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-link {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-link.is-current {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}
